
Cinema.Service/Settings.cs
.vs/Cinema/DesignTimeBuild/.dtbcache.v2
.vs/Cinema/FileContentIndex/2bbb05c6-63dd-43eb-8680-eeeac7b917d6.vsidx
.vs/Cinema/FileContentIndex/2f33b81a-8b41-4e64-9bd3-1cb6c544418f.vsidx
.vs/Cinema/FileContentIndex/49150fe4-2fd4-485a-8ce4-58d0c73b5fe6.vsidx
.vs/Cinema/FileContentIndex/bdc8f8e1-e757-4808-a86e-af14314b84d8.vsidx
.vs/Cinema/FileContentIndex/d62d9b3c-86a8-4218-92aa-78a86bef9813.vsidx
.vs/Cinema/FileContentIndex/dc4d7b8d-612e-41c0-9a97-bc5849d59404.vsidx
.vs/Cinema/FileContentIndex/e8fbeacd-9462-46ea-abb8-ef4bc68ca20a.vsidx
.vs/Cinema/FileContentIndex/feac6bd5-df1f-4cd3-8754-52db9b8852a6.vsidx
.vs/Cinema/v17/.futdcache.v2
.vs/Cinema/v17/.suo
.vs/ProjectEvaluation/cinema.metadata.v5
.vs/ProjectEvaluation/cinema.metadata.v5.2
.vs/ProjectEvaluation/cinema.projects.v5
.vs/ProjectEvaluation/cinema.projects.v5.1
.vs/ProjectEvaluation/cinema.projects.v5.2
Cinema.Application.Tests/bin/Debug/net6.0/Cinema.Application.Tests.dll
Cinema.Application.Tests/bin/Debug/net6.0/Cinema.Application.Tests.pdb
Cinema.Application.Tests/bin/Debug/net6.0/Cinema.Domain.dll
Cinema.Application.Tests/bin/Debug/net6.0/Cinema.Domain.pdb
Cinema.Application.Tests/bin/Debug/net6.0/Cinema.Infra.Data.dll
Cinema.Application.Tests/bin/Debug/net6.0/Cinema.Infra.Data.pdb
Cinema.Application.Tests/bin/Debug/net6.0/Cinema.Service.dll
Cinema.Application.Tests/bin/Debug/net6.0/Cinema.Service.pdb
Cinema.Application.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
Cinema.Application.Tests/obj/Debug/net6.0/Cinema.Application.Tests.assets.cache
Cinema.Application.Tests/obj/Debug/net6.0/Cinema.Application.Tests.csproj.AssemblyReference.cache
Cinema.Application.Tests/obj/Debug/net6.0/Cinema.Application.Tests.dll
Cinema.Application.Tests/obj/Debug/net6.0/Cinema.Application.Tests.GeneratedMSBuildEditorConfig.editorconfig
Cinema.Application.Tests/obj/Debug/net6.0/Cinema.Application.Tests.pdb
Cinema.Application/bin/Debug/net6.0/Cinema.Application.dll
Cinema.Application/bin/Debug/net6.0/Cinema.Application.pdb
Cinema.Application/bin/Debug/net6.0/Cinema.Domain.dll
Cinema.Application/bin/Debug/net6.0/Cinema.Domain.pdb
Cinema.Application/bin/Debug/net6.0/Cinema.Infra.Data.dll
Cinema.Application/bin/Debug/net6.0/Cinema.Infra.Data.pdb
Cinema.Application/bin/Debug/net6.0/Cinema.Service.dll
Cinema.Application/bin/Debug/net6.0/Cinema.Service.pdb
Cinema.Application/obj/Debug/net6.0/Cinema.Application.csproj.AssemblyReference.cache
Cinema.Application/obj/Debug/net6.0/Cinema.Application.dll
Cinema.Application/obj/Debug/net6.0/Cinema.Application.pdb
Cinema.Application/obj/Debug/net6.0/ref/Cinema.Application.dll
Cinema.Application/obj/Debug/net6.0/refint/Cinema.Application.dll
Cinema.Domain/bin/Debug/net6.0/Cinema.Domain.dll
Cinema.Domain/bin/Debug/net6.0/Cinema.Domain.pdb
Cinema.Domain/obj/Debug/net6.0/Cinema.Domain.assets.cache
Cinema.Domain/obj/Debug/net6.0/Cinema.Domain.csproj.AssemblyReference.cache
Cinema.Domain/obj/Debug/net6.0/Cinema.Domain.dll
Cinema.Domain/obj/Debug/net6.0/Cinema.Domain.GeneratedMSBuildEditorConfig.editorconfig
Cinema.Domain/obj/Debug/net6.0/Cinema.Domain.pdb
Cinema.Infra.CrossCutting/bin/Debug/net6.0/Cinema.Infra.CrossCutting.dll
Cinema.Infra.CrossCutting/bin/Debug/net6.0/Cinema.Infra.CrossCutting.pdb
Cinema.Infra.CrossCutting/obj/Debug/net6.0/Cinema.Infra.CrossCutting.assets.cache
Cinema.Infra.CrossCutting/obj/Debug/net6.0/Cinema.Infra.CrossCutting.csproj.AssemblyReference.cache
Cinema.Infra.CrossCutting/obj/Debug/net6.0/Cinema.Infra.CrossCutting.dll
Cinema.Infra.CrossCutting/obj/Debug/net6.0/Cinema.Infra.CrossCutting.GeneratedMSBuildEditorConfig.editorconfig
Cinema.Infra.CrossCutting/obj/Debug/net6.0/Cinema.Infra.CrossCutting.pdb
Cinema.Infra.Data/bin/Debug/net6.0/Cinema.Domain.dll
Cinema.Infra.Data/bin/Debug/net6.0/Cinema.Domain.pdb
Cinema.Infra.Data/bin/Debug/net6.0/Cinema.Infra.Data.dll
Cinema.Infra.Data/bin/Debug/net6.0/Cinema.Infra.Data.pdb
Cinema.Infra.Data/Migrations/20220918212447_Inicial.cs
Cinema.Infra.Data/Migrations/20220918212447_Inicial.Designer.cs
Cinema.Infra.Data/obj/Debug/net6.0/Cinema.Infra.Data.assets.cache
Cinema.Infra.Data/obj/Debug/net6.0/Cinema.Infra.Data.csproj.AssemblyReference.cache
Cinema.Infra.Data/obj/Debug/net6.0/Cinema.Infra.Data.csproj.CoreCompileInputs.cache
Cinema.Infra.Data/obj/Debug/net6.0/Cinema.Infra.Data.dll
Cinema.Infra.Data/obj/Debug/net6.0/Cinema.Infra.Data.GeneratedMSBuildEditorConfig.editorconfig
Cinema.Infra.Data/obj/Debug/net6.0/Cinema.Infra.Data.pdb
Cinema.Infra.Data/obj/Debug/net6.0/ref/Cinema.Infra.Data.dll
Cinema.Infra.Data/obj/Debug/net6.0/refint/Cinema.Infra.Data.dll
Cinema.Service/bin/Debug/net6.0/Cinema.Domain.dll
Cinema.Service/bin/Debug/net6.0/Cinema.Domain.pdb
Cinema.Service/bin/Debug/net6.0/Cinema.Infra.Data.dll
Cinema.Service/bin/Debug/net6.0/Cinema.Infra.Data.pdb
Cinema.Service/bin/Debug/net6.0/Cinema.Service.dll
Cinema.Service/bin/Debug/net6.0/Cinema.Service.pdb
Cinema.Service/obj/Debug/net6.0/Cinema.Service.assets.cache
Cinema.Service/obj/Debug/net6.0/Cinema.Service.csproj.AssemblyReference.cache
Cinema.Service/obj/Debug/net6.0/Cinema.Service.dll
Cinema.Service/obj/Debug/net6.0/Cinema.Service.GeneratedMSBuildEditorConfig.editorconfig
Cinema.Service/obj/Debug/net6.0/Cinema.Service.pdb
Cinema.Application/obj/staticwebassets.pack.sentinel
.vs/Cinema/v17/.suo
.vs/Cinema/DesignTimeBuild/.dtbcache.v2
.vs/Cinema/v17/.suo
.vs/Cinema/v17/TestStore/0/002.testlog
.vs/Cinema/v17/.suo
